

$font-gray: #494846;
$font-dark: #373A3C;
$font-secondary: #636057;
$font-darkgray: #858377;
$yellow: #FFDF65;

body {
  font-family: NotoSansCJKtc-Regular;
}

p {
  // font-family: NotoSansCJKtc-Regular;
  // font-size: 2rem;
  color: $font-gray;
}

footer {
  // font-family: NotoSansCJKtc-Regular;
  background-color: #494846;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.font-baloo-tamma-regular {
  font-family: BalooTamma2-Regular;
}

.font-baloo-tamma {
  font-family: "Baloo Tamma 2";
}

.font-noto-sans-cjk {
  font-family: NotoSansCJKtc;
}

.text-num {
  font-family: "Baloo Tamma 2", cursive;
  color: $font-gray;
}

.font-number {
  font-family: "Baloo Tamma 2";
  font-size: 2rem;
  color: $font-gray;
  font-weight: 700;

}

.font-yellow {
  color: $yellow;
}

.font-dark {
  color: $font-dark;
}

.font-gray {
  color: $font-gray;
}

.font-darkgray {
  color: $font-darkgray;
}

.font-secondary {
  font-size: .875rem;
  color: $font-secondary;
}

.bg-gray-200 {
  background-color: #E8E8DB;
}

.bg-gray {
  background: $font-darkgray;
}

.bg-yellow {
  background: $yellow;
}

.btn-warning {
  color: $font-secondary;
  background-color: #ffdf65;
  border-color: #ffdf65;
  transition: .5s;
}
.btn-warning:hover {
  color: #FFFFFF;
  background-color: #FF785E;
  border-color: #FF785E;
}

.btn-outline-secondary {
  color: #858377;
  border-color: #858377;
  transition: .5s;
}
.btn-outline-secondary:hover {
  color: #858377;
  background-color: #FFDF65;
  border-color: #FFDF65;
}

.progress-amount {
  color: #858377;
  background-color: #ffdf65;
  border-color: #ffdf65;
}

.header-btn {
  min-width: 96px;
  max-height: 38px;
  font-weight: 700;
}

.tracking-2 {
  letter-spacing: .125rem;
}

.tracking-1 {
  letter-spacing: .04375rem;
}

.rounded-3 {
  border-radius: 0.3rem;
}

.rounded-4 {
  border-radius: 0.8rem;
}

.product-title {
  letter-spacing: 3px;
  color: $font-gray;
}

.nav-tabs {
  border: none;
  .active {
    font-weight: bold;
    border-bottom: 2px solid #ffc107;
  }
}

.tab-content {
  h4 {
    margin-bottom: .312rem;
  }
}

.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: .25rem;
}

.form-header-border {
  border-bottom: 3px solid #FFDF65 ;
  span {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: NotoSansCJKtc;
    color: $font-gray;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .12rem;
    background: #fff;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.form-label {
  margin-bottom: 0.5rem;
  color: $font-dark;
}
.form-select {
  color: #999999;
  border: none;
  border-color: #f8f9fa; 
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e");
  padding-left: 1rem;
}
.form-btn {
  color: $font-secondary;
  font-weight: 600;
  background: #FFDF65;
  &:hover {
    background-color: #ff785e;
    color: #fff;
    border-color: #ff785e;
  }
}

.product-remark {
  font-family: NotoSansCJKtc-Regular;
  color: $font-secondary;
  border-left: 3px solid #FFDF65;
  padding-top: 0.875rem;
  padding-left: 1rem;
  padding-bottom: 0.875rem;
}

.right-side-callout {
  text-align: center;
  font-weight: 600;
  font-size: 1.25rem;
  border-radius: .3rem;
  border-left: 3px solid $yellow;
  border-right: 3px solid $yellow;
  color: $font-gray;
  background-color: #f8f9fa;
}

.profile-card {
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: .5rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.cfs-plan-card {}

.info-btn {
  font-size: .75rem;
  font-family: NotoSansCJKtc-Regular;
  line-height: 18px;
}

.info-icon {
  i {
    font-size: 1rem;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%); 
  }
}

.square-3 {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.info-headshot {
  border: 2px solid $yellow;
  border-radius: 50%;
  margin-right: 1rem;
}

// @media (min-width: 576px) {
//   .container, .container-sm {
//     max-width: 540px;
//   }
// }
// @media (min-width: 768px) {
//   .container, .container-sm, .container-md {
//     max-width: 720px;
//   }
// }
@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
  // .py-lg-12 {
  //   padding-top: 3rem!important;
  //   padding-bottom: 3rem!important;
  // }
}
@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}