// scss-docs-start color-variables
$secondary:     #858377;
$warning:       #FFDF65;
$dark:          #636057;
$info:          #E8E8DB;
$gray:          #373A3C;
$danger:        #FF785E;
$brown:         #494846;

$custom-colors: (
  "gray": $gray,
  "brown": $brown,
);
$body-color:    $brown;

// Border
$border-color:  #E5E5E5;

// Font
$font-weight-bold: 600;
$font-family-noto-sans: "Noto Sans TC", sans-serif;
// $font-family-baloo-tamma-2: "Baloo Tamma 2", cursive;
$font-family-baloo-tamma-2: "Baloo Tamma 2";
$variable-prefix: bs-;
$font-family-base: var(--#{$variable-prefix}font-family-noto-sans);
$font-family-code: var(--#{$variable-prefix}font-family-noto-sans);

// link
$link-color:        $dark;
$link-decoration:   none;

// Tooltips
$tooltip-color:  $warning;
$tooltip-bg:     $body-color;

// scss-docs-start spacer-variables-maps
$spacer: 1rem !default;
$custom-spacers: (
  4: $spacer * 2,
  6: 5px,
  7: $spacer * .875, //14
  8: $spacer * 1.25, //20
  9: $spacer * 1.5, //24
);

// scss-docs-start font-sizes
$font-size-base: 1rem !default;
$custom-font-sizes: (
  7: $font-size-base * .875,  //14
  8: $font-size-base * 1.25, //20
  9: $font-size-base * 1.5, //24
);

$icon-size: (
  1: 20px,
  2: 24px,
  3: 30px,
);

$tracking: (
  1: .04375rem,
  2: .125rem,
  3: .1875rem,
);

$font-sizes-mobile: (
  mobile-1:24px,
  mobile-2:20px,
  mobile-3:18px,
  mobile-4:16px,
  mobile-5:14px,
  mobile-6:12px,
) !default;

// :root：global variable setting
:root {
  --#{$variable-prefix}font-family-noto-sans: #{inspect(
          $font-family-noto-sans
      )};
  --#{$variable-prefix}font-family-baloo-tamma-2: #{inspect(
          $font-family-baloo-tamma-2
      )};
}
