// scss-docs-start color-variables
$secondary:     #858377;
$warning:       #FFDF65;
$dark:          #636057;
$info:         #E8E8DB;
$gray:         #373A3C;
$danger:        #FF785E;

// $custom-colors: (
//   "gray": $gray,
// );
$body-color:    #494846;

// Font
$font-weight-bold: 600;
$font-family-noto-sans: "Noto Sans TC", sans-serif;
// $font-family-baloo-tamma-2: "Baloo Tamma 2", cursive;
$font-family-baloo-tamma-2: "Baloo Tamma 2";
$variable-prefix: bs-;
$font-family-base: var(--#{$variable-prefix}font-family-noto-sans);
$font-family-code: var(--#{$variable-prefix}font-family-noto-sans);

// link
$link-color:        $dark;
$link-decoration:   none;

// Tooltips
$tooltip-color:  $warning;
$tooltip-bg:     $body-color;

// scss-docs-start spacer-variables-maps
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 2,
  7: $spacer * 1.25,
  8: $spacer * .3,
  9: $spacer * .875,
  10: 5px,
) !default;

// scss-docs-start font-sizes
$font-size-base: 1rem;
$font-sizes: (
  1: $font-size-base * 2.5,
  2: $font-size-base * 2,
  3: $font-size-base * 1.75,
  4: $font-size-base * 1.5,
  5: $font-size-base * 1.25,
  6: $font-size-base,
  7: 1.25rem,
) !default;

$font-sizes-mobile: (
  mobile-1:24px,
  mobile-2:20px,
  mobile-3:18px,
  mobile-4:16px,
  mobile-5:14px,
  mobile-6:12px,
) !default;

:root {
  --#{$variable-prefix}font-family-noto-sans: #{inspect(
          $font-family-noto-sans
      )};
  --#{$variable-prefix}font-family-baloo-tamma-2: #{inspect(
          $font-family-baloo-tamma-2
      )};
}
