.font-baloo-tamma-2 {
  font-family: $font-family-baloo-tamma-2;
}
[vertical-center] {
  color: white;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%); 
}
.event-align-center {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%);
}
.text-justify{
  text-align: justify;
}

@mixin sticky-effect ($top, $height) {
  position: sticky;
  overflow: scroll;
  top: $top;
  height: $height;
}
.border-low-half {
  border: 1px solid $info;
  border-radius: 0 0 8px 8px;
}

// btn setting
$btn-types: (
  warning: $dark #fff $danger $danger,
  outline-secondary: $secondary $secondary $warning $warning,
  secondary: $secondary #fff $warning $warning,
);
@mixin btn-hover($color, $border-color, $background-color) {
  color: $color;
  border-color: $border-color;
  background-color: $background-color;
}
@each $key, $value in $btn-types {
  .btn-#{$key} {
    color: nth($value, 1);
    transition: .5s;
    &:hover {
      @include btn-hover(nth($value, 2), nth($value, 3), nth($value, 4));
      @if $key != warning {
        .custom-heart {
          color: $danger;
        }
      }
    }
  }
}

.nav-link {
  &:hover{
    color: $dark;
    font-weight: bold;
  }
  &.active {
    color: $dark;
    font-weight: bold;
    border-bottom: 2px solid map-get($theme-colors, 'warning');
  }
}

.right-side-sticky {
  @include sticky-effect(calc(76px + 3rem), calc(100vh - 82px))
}

.form-select {
  color: #999999;
  border: none;         
  border-color: #f8f9fa; 
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e");
  padding-left: 1rem;
}