.accordion-flush {
  .accordion-item {
    border: $accordion-border-width solid $accordion-border-color;
    @include border-radius($accordion-border-radius);
  
    &:first-child { border: $accordion-border-width solid $accordion-border-color; }
    &:last-child { border: $accordion-border-width solid $accordion-border-color; }
  
    .accordion-button {
      @include border-top-radius($accordion-border-radius);
      background: none; // accordion-button background 會影響到 accordion-item 邊框
      &:focus {
        // border: none;
        box-shadow: 0 0 0 3px rgba($color: $warning, $alpha: .5);
      }
      &:not(.collapsed) {
        background-color: $warning;
      }
      &::after {
        background-size: 20px;
        width: 20px;
        height: 20px;
      }
    }
  }
}