// scss-docs-start color-variables
$secondary:     #858377;
$warning:       #FFDF65;
$dark:          #636057;
$info:          #E8E8DB;
$gray:          #373A3C;
$danger:        #FF785E;
$brown:         #494846;

$custom-colors: (
  "gray": $gray,
  "brown": $brown,
);
$body-color:    $brown;

// Border
$border-color:  #E5E5E5;

// Font
$font-weight-bold: 600;
$font-weight-bolder: 500;
$font-family-noto-sans: "Noto Sans TC", sans-serif;
// $font-family-baloo-tamma-2: "Baloo Tamma 2", cursive;
$font-family-baloo-tamma-2: "Baloo Tamma 2";
$variable-prefix: bs-;
$font-family-base: var(--#{$variable-prefix}font-family-noto-sans);
$font-family-code: var(--#{$variable-prefix}font-family-noto-sans);

// link
$link-color:        $dark;
$link-decoration:   none;

// Tooltips
$tooltip-color:  $warning;
$tooltip-bg:     $body-color;

// scss-docs-start spacer-variables-maps
$spacer: 1rem !default;
$custom-spacers: (
  4: $spacer * 2,
  6: 5px,
  7: $spacer * .875, //14
  8: $spacer * 1.25, //20
  9: $spacer * 1.5, //24
);

// scss-docs-start font-sizes
$font-size-base: 1rem !default;
$custom-font-sizes: (
  7: $font-size-base * .75,  //12
  8: $font-size-base * .875,  //14
  9: $font-size-base * 1.125,  //18
  10: $font-size-base * 1.25, //20
  11: $font-size-base * 1.5, //24
);

// Forms
// form-input-variables
$input-bg: #f7f7f7;
$input-border-width: 0;
// form-select-variables
$form-select-color: #999999;
$form-select-indicator-color: #f8f9fa !default;
$form-select-indicator: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e");

// border-radius-variables
$border-radius-lg: 0.5rem;
$border-radius-pill: 50rem !default;

// Cards
// card-variables
$card-border-radius: $border-radius-lg;

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 375px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

// :rootï¼šglobal variable setting
:root {
  --#{$variable-prefix}font-family-noto-sans: #{inspect(
      $font-family-noto-sans
    )};
  --#{$variable-prefix}font-family-baloo-tamma-2: #{inspect(
    $font-family-baloo-tamma-2
  )};
}